@import 'modules/animate';
@import 'modules/vars';
@import 'modules/header';
@import 'modules/body';




.hidden {
    visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.delay {
  -animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
