body
{
    background-color: $background-color;
}

#svg
{
    z-index: 1;
    position: absolute;
    width: 100%;
}

.constStars {
    -webkit-animation: spin1 5.5s infinite linear;
    -moz-animation: spin1 5.5s infinite linear;
    -o-animation: spin1 5.5s infinite linear;
    -ms-animation: spin1 5.5s infinite linear;
    animation: spin1 5.5s infinite linear;
    transform-origin: 50% 50%;
}

@-webkit-keyframes spin1 {
    50% { -webkit-transform: rotate(0.4deg);}
    
    50% { -webkit-transform: rotate(-0.4deg);}

}
    @-moz-keyframes spin1 {
    50% { -moz-transform: rotate(0.4deg);}
    50% { -webkit-transform: rotate(-0.4deg);}
    }

    @keyframes spin1 {
    50% { transform: rotate(0.4deg);}
    50% { -webkit-transform: rotate(-0.4deg);}
    } 




    

    .constStars path {
            animation: shooting linear 20s !important;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
            -webkit-animation: shooting linear 20s !important;
            -webkit-animation-iteration-count: infinite;
            -webkit-transform-origin: 50% 50%;
            -moz-animation: shooting linear 20s !important;
            -moz-animation-iteration-count: infinite;
            -moz-transform-origin: 50% 50%;
            -o-animation: shooting linear 20s !important;
            -o-animation-iteration-count: infinite;
            -o-transform-origin: 50% 50%;
            -ms-animation: shooting linear 20s !important;
            -ms-animation-iteration-count: infinite;
            -ms-transform-origin: 50% 50%;
          }
          
          @keyframes shooting{
            0% {
              transform:  translate(0px,0px)  ;
            }
            100% {
              transform:  translate(-22px,150px)  ;
            }
          }
          
          @-moz-keyframes shooting{
            0% {
              -moz-transform:  translate(0px,0px)  ;
            }
            100% {
              -moz-transform:  translate(-22px,150px)  ;
            }
          }
          
          @-webkit-keyframes shooting {
            0% {
              -webkit-transform:  translate(0px,0px)  ;
            }
            100% {
              -webkit-transform:  translate(-22px,150px)  ;
            }
          }
          
          @-o-keyframes shooting {
            0% {
              -o-transform:  translate(0px,0px)  ;
            }
            100% {
              -o-transform:  translate(-22px,150px)  ;
            }
          }
          
          @-ms-keyframes shooting {
            0% {
              -ms-transform:  translate(0px,0px)  ;
            }
            100% {
              -ms-transform:  translate(-22px,150px)  ;
            }
          }

